<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>Hello</title>
</head>
<body>


<iframe src=""></iframe>
<input id="img-upload" type="file" accept="image/*" style="display: none">
<script>
    // const iframe = document.querySelector('iframe');
    // iframe.setAttribute('src', '../index.html?rnd=' + Math.floor(Math.random() * 100000000000000));
</script>

<div id="app">
   <div class="panel" v-if="auth"> <!-- todo: Странно, но должно работать "!auth". Надо разобраться. -->
        <div>
            <button class="uk-button uk-button-primary" uk-toggle="target: #modal-open">Открыть</button>
            <button class="uk-button uk-button-primary" uk-toggle="target: #modal-meta">Редактор META</button>
        </div>
        <div>
            <button class="uk-button uk-button-primary" uk-toggle="target: #modal-save">Опубликовать</button>
            <button class="uk-button uk-button-primary btn-down"><b>V</b></button>
            <div uk-dropdown dropdown>
                <button class="uk-button uk-button-primary" uk-toggle="target: #modal-bacup">Восстановить из бэкапа
                </button>
            </div>
            <button class="uk-button uk-button-secondary" uk-toggle="target: #modal-logout">Выйти</button>
        </div>
    </div>

    <div id="modal-open" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Открытие</h2>
            <ul class="uk-list uk-list-striped">
                <li v-for="page in pageList">
                    <a class="uk-link-muted uk-modal-close" href="#" @click="openPage(page)">{{ page }}</a>
                </li>
            </ul>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
            </p>
        </div>
    </div>
    <div id="modal-meta" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Редактирование META тэгов</h2>
            <form>
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Title" aria-label="Input" v-model="meta.title">
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Keywords" aria-label="Textarea" v-model="meta.keywords"></textarea>
                </div>
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Description" aria-label="Textarea" v-model="meta.description"></textarea>
                </div>
            </form>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="applayMeta">Применить</button>
            </p>
        </div>
    </div>
    <div id="modal-save" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Сохранение</h2>
            <p>Вы действитель хотите сохранить и опубликовать изменения?</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">Сохранить
                </button>
            </p>
        </div>
    </div>
    <div id="modal-logout" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Выход</h2>
            <p>Вы действитель хотите выйти из админки? Не сохранённые изменения могут быть потеряны?</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="logout">Выйти
                </button>
            </p>
        </div>
    </div>
    <div id="modal-bacup" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Восстановление из бэкапа</h2>
            <span v-if="backupList.length < 1">Не найдено резервных копий.</span>
            <ul class="uk-list uk-list-striped">
                <li v-for="backup in backupList" :key="backup.time">
                    <a class="uk-link-muted uk-modal-close" href="#" @click="restoreBackup(backup)">Резервная копия
                        {{ backup.time }}</a>
                </li>
            </ul>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
            </p>
        </div>
    </div>

    <div class="loader" v-bind:class="{'active': showLoader}">
        <span uk-spinner="ratio: 4.5"></span>
    </div>

    <div class="login-container" v-if="!auth">
        <div class="login">
            <h2 class="uk-modal-title">Авторизация</h2>
            Пароль:
            <input type="password" class="uk-input" placeholder="Пароль" v-model="password" @keyup.enter="login">
            <span class="login-error" v-if="loginError">Не верный пароль! Пароль должен быть не менее пяти символов.</span>
            <button class="uk-button uk-button-primary" type="button" @click="login" v-on:keyup.enter="login">Вход</button>
        </div>
    </div>
</div>


<script src="bundle.js"></script>
</body>
</html>